@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --container-width: 1200px;
  --primary-color: #006d5d;
  --bg-color: #f4f7f6;
  --text-color: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

a {
  text-decoration: none !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; 
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-width);
    padding: 0 20px;
  }
}